

{{!-- just has the about.hbs--}}


<div class="main-container">
  <div class="header">
    <h2 class="h2">ABOUT</h2>
  </div>
  <div class="main">
      <p>
          Music Box is a web music tool. It makes it easy to find the right 
          music for every moment. There is a wide variety tracks in this Music Box. 
          Simply select your mood, decade and prefered artist to bring up the perfect song. 
          So whether you’re working out, partying or relaxing, the right music is always 
          there in a heart beat. Don't know what to listen to? let Music Box 
          surprise you with the random button. 
          {{!-- You can also browse through Music box's collection if for example you 
          wanted tp see what songs are under a specific decade. --}}

          Soundtrack your life with Music Box.
      </p>
        <p>
            The Music Box project created by Jess, Meg, Jennifer and Sharlene at EDA 
        </p>
  </div>
</div>
