{{!-- just has the form.hbs --}}

<form class="form" action="/" method="POST">


    
      <fieldset id="genre">

      <label for="pop">Pop</label>
      <input type="radio" value="Pop" name="Genre" id="pop" checked>

      <label for="Metal">Metal</label>
      <input type="radio" value="Metal" name="Genre" id="Metal">

      <label for="Rock">Rock</label>
      <input type="radio" value="Rock" name="Genre" id="Rock">

      <label for="Punk">Punk</label>
      <input type="radio" value="Punk" name="Genre" id="Punk">

      <label for="R&B">R&B</label>
      <input type="radio" value="R&B" name="Genre" id="R&B">

      <label for="Jazz">Jazz</label>
      <input type="radio" value="Jazz" name="Genre" id="Jazz">

      <label for="Hip-Hop">Hip-Hop</label>
      <input type="radio" value="Hip-Hop" name="Genre" id="Hip-Hop">

      <label for="Electronic">Electronic</label>
      <input type="radio" value="Electronic" name="Genre" id="Electronic">

      <label for="Rap">Rap</label>
      <input type="radio" value="Rap" name="Genre" id="Rap">

 
    </fieldset>

    <fieldset id="mood">

      <label for="angry">Angry</label>
      <input type="radio" value="angry" name="Mood" id="angry" checked>
      
      <label for="sad">Sad</label>
      <input type="radio" value="sad" name="Mood" id="sad">
      
      <label for="Happy">Happy</label>
      <input type="radio" value="Happy" name="Mood" id="Happy">
     
      <label for="Energetic">Energetic</label>
      <input type="radio" value="Energetic" name="Mood" id="Energetic">
     
      <label for="Chill">Chill</label>
      <input type="radio" value="Chill" name="Mood" id="Chill">
          
      <label for="Desperate">Desperate</label>
      <input type="radio" value="Desperate" name="Mood" id="Desperate">

      
    </fieldset>

    <fieldset id="decade">

      <label for="1980's">1980's</label>
      <input type="radio" value="1980" name="Decade" id="1980's" checked>

      <label for="1990's">1990's</label>
      <input type="radio" value="1990" name="Decade" id="1990's">

      <label for="2000's">2000's</label>
      <input type="radio" value="2000" name="Decade" id="2000's">

      <label for="2010's">2010's</label>
      <input type="radio" value="2010" name="Decade" id="2010's">

    </fieldset>
    <br>
    <input type="submit" value="submit">
  </form>
