<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- add stylesheet --}}
  <link rel='shortcut icon' type='image/x-icon' href='../../public/images/logo.png' />
  <link rel="stylesheet" href="/main.css" type="text/css">
    <title>MusicBox</title>
 
</head>

            <img id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/326d5iOUoYY8N6uFPm/200w.webp" srcset="https://media.giphy.com/media/326d5iOUoYY8N6uFPm/200w.webp 200w,https://media.giphy.com/media/326d5iOUoYY8N6uFPm/giphy.webp 480w," sizes="100vw" >
            '<div class="_3aRLlClO7wY2OiqMkwRcGP _2XBDTIVigBJDybhZvL-hU3" style="background-image:url(https://media.giphy.com/media/326d5iOUoYY8N6uFPm/200w_s.gif)"></div>'
        </a></img>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
</body>
</html>