body{
  width: 100%;
  height: 400px;
  background-image:url(https://images.unsplash.com/photo-1449748040579-354c191a7934?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Abril Fatface', cursive;
  }
  
  .img{
  width:100%;
  height:auto;
  }
  .main-container{
   
  
  }  
  
  .header{
  background-color: lightgrey;
  width: 300px;
  border-radius: 25px;
  border: 25px  solid rgb(255,102,0);
  padding: 25px;
  margin: 20px;
  font-size: 40px;
  }
  
  .main{
  float:right;
  padding: 25px;
  margin: 25px;
  width: 300px;
  border:25px solid rgb(255,102,0);
  border-radius: 25px;
  background-color: beige;
  }